*{
	box-sizing: border-box;
}
.header{
	width: 100%;
	height: 750px;
	background: url('../img/header/heder-bg.png') no-repeat;
}
.header__wraper{
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.navigation{
	width: 100%;
	height: 85px;
	padding-top: 39px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.navigation__logo-block{
	width: 63px;
	height: 42px;
}
.logo-img{
	width: 100%;
	height: 100%;
}
.navigation__link-block{
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	font-family: Exo;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #FBFBFB;
}
.link-block{
	height: 100%;
}
.link-block__item{
	text-transform: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	color: inherit;
}
.link-block__item:hover{
	color: #16A58C;
}
.navigation__link-block .link-block__item{
	margin-right: 34px;
}
.navigation__link-block .link-block__item:last-of-type{
	margin-right: none;
}
.link-block__item>a{
	text-decoration: none;
	text-transform: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	color: inherit;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.navigation__language{
	text-transform: uppercase;
	font-family: Exo;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #FBFBFB;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.header__content{
	width: 100%;
	height: calc(100% - 85px);
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.header__descrip{
	width: 522px;
	height: 247px;
	margin-right: 190px;
	padding-top: 25px;
	background: url('../img/header/exchange-title-bg.png') no-repeat;
	background-size: 90%;
	background-position-x: 10%;
}
.header__descrip>h3{
	margin: 0;
	font-family: Exo;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: #FBFBFB;
}
.header__descrip>h3:last-of-type{
	color: #F4D17F;
	margin-bottom: 35px;
}
.header__protection-block{
	padding-left: 81px;
	background: url('../img/header/padlock.png') no-repeat;
}
.header__protection-block>span{
	display: block;
	font-family: Exo;
	font-size: 24px;
	line-height: 138.4%;
	letter-spacing: 0.05em;
	color: #FBFBFB;
}
.exchange-form{
	overflow: hidden;
	width: 305px;
}
.exchange-form__first-form, .exchange-form__second-form{
	width: 100%;
	display: none;
}
.exchange-form__first-form.active, .exchange-form__second-form.active{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.exchange-form__crypto-block, .exchange-form__currency-block, 
.exchange-form__quantity-block, .exchange-form__button-next, 
.exchange-form__descrip-block, .exchange-form__indicator, 
.exchange-form__email-block, .exchange-form__wallet-adress-block, 
.exchange-form__bank-block, .exchange-form__swift-block, 
.exchange-form__account-block{
	width: 100%;
	height: 66px;
	margin-bottom: 20px;
}
.exchange-form__descrip{
	display: block;
	font-family: Exo;
	font-size: 16px;
	line-height: 20px;
	color: #FBFBFB;
}
select, input{
	width: 100%;
}
.exchange-form__button-next{
	width: 100%;
	height: 42px;
	border: none;
	background: linear-gradient(180deg, #32E280 0%, #16A58C 100%);
	box-shadow: 1px 1px 22px rgba(118, 197, 153, 0.45);
	border-radius: 22px;
	outline: none;
	font-family: Exo;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #FBFBFB;
	cursor: pointer;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */