.accordion{
	width: 80%;
	margin: 20px;
}

.tab input, .tab__content { display: none; }
.tab {
 font: 0.8rem/1.2 Arial, sans-serif; /* Параметры шрифта */
 border: 1px solid #e9eaec; /* Параметры рамки */
 border-radius: 3px; /* Скругляем уголки */
 color: #848994; /* Цвет текста */
 margin-bottom: 10px; /* Расстояние между пунктами */
}
.tab__title {
 padding: 10px; /* Поля вокруг текста */
 display: block; /* Блочный элемент */
 text-transform: uppercase; /* Все буквы заглавные */
 font-weight: bold; /* Жирное начертание */
 cursor: pointer; /* Вид курсора */
}
.tab__title::after {
 content: '+'; /* Выводим плюс */
 float: right; /* Размещаем по правому краю */
}
.tab__content {
 padding: 10px 20px; /* Поля вокруг текста */
 font-size: 16px;
 line-height: 20px;
}
.tab :checked + .tab__title {
 background-color: #50a2de; /* Цвет фона */
 border-radius: 3px 3px 0 0; /* Скругляем уголки */
 color: #fff; /* Цвет текста */
}
.tab :checked + .tab__title::after {
 content: '−'; /* Выводим минус */
}
.tab :checked ~ .tab__content {
 display: block; /* Показываем содержимое */
}