
.account{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.account__wraper{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.account__personal{
	width: 100%;
}
.account__personal-descrip{
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 140%;
	color: #000000;
}
.account__transactions{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.account__transactions-header{
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 37px;
	line-height: 130%;
	letter-spacing: 0.05em;
	color: #000000;
}

.table{
	list-style-type: none;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.table__item{
	width: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	font-family: Work Sans;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 140%;
	color: #000000;
}
.table__item:nth-of-type(2)>span, .table__item:nth-of-type(3)>span{
	margin-right: 5px;
}
.table__item:nth-of-type(2)>span:last-of-type, .table__item:nth-of-type(3)>span:last-of-type{
	margin-right: 0;
}
.account__head{
	border-bottom: solid 1px #4A44F2;
}
.account__head-item{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 140%;
	color: #9A99A2;
}
.account__body{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.transaction{
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: double 3px #000;
}
.transaction__details-block{
	overflow: hidden;
	width: 100%;
	height: 0;
	transition-duration: 0.5s;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.transaction__details-block.active{
	height: auto;
	transition-duration: 0.5s;
}
.transaction__details{
	margin-bottom: 15px;
	padding: 30px;
	background: #F8F8F8;
	border-radius: 10px;
}
.transaction__details-header{
	text-transform: capitalize;
}
.transaction__details-header, .transaction__details>p{
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	color: #000000;
}