.xpay-button{
	height: 42px;
  border-radius: 3px;
	outline: none;
	font-family: Work Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
}

.xpay-button_blue-shadow {
  border: none;
  color: #fbfbfb;
  background: #4a44f2;
  box-shadow: 0px 20px 15px -15px rgba(74, 68, 242, 0.3);
  transition-duration: 0.5s;
}
.xpay-button_blue-shadow:hover {
  box-shadow: 0px 20px 15px -15px rgba(74, 68, 242, 0.8);
  transition-duration: 0.5s;
}
.xpay-button_blue{
	border: none;
	color: #ffffff;
	background: #4A44F2;
	transition-duration: 0.5s;
}
.xpay-button_blue:hover{
	border: 1px solid #4A44F2;
	color: #4A44F2;
	background: transparent;
	transition-duration: 0.5s;
}
.xpay-button_transp {
  border: 1px;
  border-style: solid;
  border-color: #4a44f2;
  background-color: transparent;
  color: #4a44f2;
  transition-duration: 0.5s;
}
.xpay-button_transp:hover {
  color: #ffffff;
  background-color: #4a44f2;
}
.xpay-button_transp-red {
  border: 1px;
  border-style: solid;
  border-color: #f20505;
  background-color: transparent;
  color: #ff5c5c;

  transition-duration: 0.5s;
}
.xpay-button_transp-red:hover {
  color: #ffffff;
  background-color: #f20505;
  transition-duration: 0.5s;
}

.xpay-button_red{
	border: none;
	color: #FFFFFF;
	background: #F20505;
	transition-duration: 0.5s;
}
.xpay-button_red:hover{
	background: #CA1818;
	transition-duration: 0.5s;
}

.account-button{
	overflow: hidden;
	width: 125px;
	height: 37px;
  border-radius: 3px;
	outline: none;
	font-family: Work Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.account-button_transp{
	border: solid 1px #4a44f2;
  color: #4a44f2;
  background: transparent;
  transition-duration: 0.5s;
}
.account-button_transp:hover{
	border: none;
  color: #eeeeee;
  background: #4a44f2;
  transition-duration: 0.5s;
}
