.exchange-form,
.header__exchanger {
  width: 350px;
  padding-top: 50px;
}

.exchange-form__first-form,
.exchange-form__second-form,
.exchange-form__third-form {
  width: 100%;
  display: none;
}

.exchange-form__crypto-block,
.exchange-form__currency-block,
.exchange-form__quantity-block,
.exchange-form__descrip-block,
.exchange-form__indicator,
.exchange-form__email-block,
.exchange-form__wallet-adress-block,
.exchange-form__bank-block,
.exchange-form__swift-block,
.exchange-form__account-block {
  width: 100%;
  height: 66px;
  margin-bottom: 20px;
  position: relative;
}

.exchange-form__descrip {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #0e0a19;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.exchange-form__descrip_gold {
  color: #f4d17f;
}

select,
input {
  width: 100%;
}
.exchanger__button{
	/* width: 305px; */
	width: 100%;
  margin-bottom: 20px;
}

.exchange-wrap-own {
  width: 305px;
  position: absolute;
  z-index: 3;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 3px;
  top: 24px;
  left: 0;
  background: #fbfbfb;
  border: 1px solid #4a44f2;
  box-sizing: border-box;
}

.exchange-wrap-own::after {
  content: "";
  width: 10px;
  height: 7px;
  background: url(../img/header/arrow.png);
  position: absolute;
  top: 20px;
  right: 15px;
}

.exchange-wrap-own__item {
  cursor: pointer;
  padding: 11px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #4a44f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.exchange-wrap-own__item:hover {
  background-color: #ddd;
}

.exchange-wrap-own__item:nth-last-child(1) {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.exchange-wrap-own__item:nth-child(1) {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
}

.exchange-wrap-want {
  width: 305px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 3px;
  top: 24px;
  left: 0;
  background: #fbfbfb;
  border: 1px solid #4a44f2;
  box-sizing: border-box;
}

.exchange-wrap-want::after {
  content: "";
  width: 10px;
  height: 7px;
  background: url(/img/header/arrow.png);
  position: absolute;
  top: 20px;
  right: 15px;
}

.exchange-wrap-want__item {
  cursor: pointer;
  padding: 11px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #4a44f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.exchange-wrap-want__item:hover {
  background-color: #ddd;
}

.exchange-wrap-want__item:nth-last-child(1) {
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

.exchange-wrap-want__item:nth-child(1) {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
}

.exchange-props-bank__input {
  cursor: pointer;
  padding: 11px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #4a44f2;
  user-select: none;
  border-radius: 3px;
  border: 1px solid #4a44f2;
  margin-top: 4px;
}

.exchange-form-block-text__item_active {
  font-weight: bold;
  color: #fbfbfb;
  opacity: 1;
}

.exchange-form__checkbox {
  padding-bottom: 20px;
}
.exchange-props-bank__input_checkbox {
  width: auto;
}
.exchange-props-bank__label_checkbox {
  color: #0e0a19;
}
.exchange-props-bank__input:focus {
  outline: none;
}
.exchange-props-bank__gold-text {
  color: #0e0a19;
}
.exchange-props-bank__input_disabled {
  background: #60605d4d;
  border: 1px solid transparent;
  height: 42px;
  display: -webkit-box;
  display: flex;
  position: relative;
}

.exchange-crypto-value {
  background-color: transparent;
  border: none;
  color: #f4d17f;
  padding: 10px;
}

.exchange-crypto-value:first-letter {
  color: #fff;
}

.exchange-crypto-value:focus {
  outline: none;
}

.exchange-form__descrip_input {
  border: none;
  background: transparent;
}
.exchange-props-bank__input_disabled {
  display: flex;
  align-items: center;
  position: relative;
}

.exchange-props-bank__input_disabled::-webkit-input-placeholder {
  color: #fff;
}

.exchange-props-bank__input_disabled::-moz-placeholder {
  color: #fff;
}

.exchange-props-bank__input_disabled:-ms-input-placeholder {
  color: #fff;
}

.exchange-props-bank__input_disabled::-ms-input-placeholder {
  color: #fff;
}

.exchange-props-bank__input_disabled::placeholder {
  color: #fff;
}

.exchange-form-pointer {
  display: -webkit-box;
  display: flex;
  width: 36px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.exchange-form-pointer__item {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #4a44f2;
  cursor: pointer;
}

.pointer_active {
  background-color: #4a44f2;
  /* box-shadow: 1px 1px 12px #32E280; */
}

/* btn */

.exchange-form__btn-copy {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2cd583;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
  height: 40px;
}

.exchange-form__btn-copy:hover {
  font-weight: bold;
  color: #f4d17f;
}

.exchange-form__btn-copy:active {
  font-weight: bold;
  color: #f4d17f;
  position: relative;
  top: 1px;
}

.exchange-form__btn-copy:focus {
  outline: none;
}
.exchange-form__btn-copy-popup {
  position: absolute;
  width: 110px;
  height: 40px;
  border-radius: 22px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 0;
  z-index: 2;
  display: none;
  color: #000000;
}
.copy-popup-animation {
  display: flex;
  animation: popupCopied 2s forwards;
}
@keyframes popupCopied {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    opacity: 1;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.exchange-form__btn-copy-popup:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 13px;
  top: -4px;
  background-color: #fff;
  transform: rotate(45deg);
}

.exchanger__tabs,
.exchanger__content {
  width: 100%;
}
.exchanger__tabs {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  border-bottom: 2px solid #4a44f2;
}
.exchanger__tab {
  width: 50%;
  height: 41px;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #4a44f2;
  cursor: pointer;
}
.exchanger__tab.active {
  color: #ffffff;
}
.exchanger__tab-cutain {
  width: 50%;
  height: 41px;
  position: absolute;
  border-radius: 3px 3px 0px 0px;
  background-color: #4a44f2;
  z-index: -1;
  pointer-events: none;
}
.exchanger__tab-cutain.reverse {
  right: 0;
}
.exchanger__tab-descrip {
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  pointer-events: none;
}
.exchanger__content {
  padding-left: 20px;
  padding-right: 20px;
}
.exchanger__coontent-contanier {
  width: 100%;
  margin-bottom: 30px;
}

.exchanger__form-block {
  width: 100%;
  height: auto;
}

.exchanger__info-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.exchanger__info-text {
  margin-right: 10px;
}
.exchanger__info-interactive-text {
  color: #4a44f2;
}
.exchanger__info-calculation {
  margin-right: 7px;
}
.exchanger__header {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #0e0a19;
  margin-bottom: 5px;
}
.exchanger__title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0e0a19;
  opacity: 0.7;
}
.ex-step-1__change-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.ex-step-1__change-block,
.ex-step-2__sell,
.ex-step-2__buy,
.ex-step-3__sell,
.form-3__buy {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}
.ex-step-1__box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.ex-step-1__input {
  width: 149px;
  height: 42px;
  border: 1px solid #4a44f2;
  border-radius: 3px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  color: #4a44f2;
  outline: none;
}
.ex-step-1__select {
  width: 116px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #4a44f2;
}
.ex-step-1__arrow::after {
  content: "";
  width: 10px;
  height: 8px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 17px;
}
.ex-step-2__arrow::after {
  content: "";
  width: 10px;
  height: 8px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 41px;
}
.ex-step-2__input,
.ex-step-2__select {
  width: 305px;
  height: 42px;
  border: 1px solid #4a44f2;
  color: #4a44f2;
  outline: none;
  padding-left: 20px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.ex-input-block__descrip {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}
.ex-step-2__checkbox-block {
  margin-top: 20px;
}
.ex-step-2__input_checkbox {
  width: auto;
  position: relative;
  display: none;
}
.ex-step-2__label_checkbox {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  z-index: 100;
}
.ex-step-2__input_checkbox + label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #4a44f2;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: -29px;
}
.ex-step-2__input_checkbox.active + label:after {
  content: "";
  width: 13px;
  height: 11px;
  display: inline-block;
  background-image: url(../img/checked.png);
  position: absolute;
  left: -25px;
  top: 4px;
}

.ex-step-2__input-block {
  position: relative;
}
.ex-step-2__input-block.error > .ex-step-2__descrip {
  color: #f20505;
}
.ex-step-2__input-block.error > .ex-step-2__input {
  border: 1px solid #f20505;
  /* color: #F20505; */
}
.ex-step-2__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.ex-step-2__descrip.error > .ex-step-2__descrip {
  background-color: lightcoral;
}
.ex-step-2__descrip.error > .ex-step-2__input {
  background-color: lightcoral;
}
.ex-step-3__for-read-input {
  width: 305px;
  height: 42px;
  background: #f1f1ff;
  border: 1px solid #4a44f2;
  border-radius: 3px;
  outline: none;
  color: #4a44f2;
  padding-left: 20px;
  margin-top: 3px;
}

.small-input {
  width: 252px;
}
.ex-step-3__for-read {
  position: relative;
}
.ex-step-3__for-read-currency_red {
  color: #f20505;
  font-weight: 600;
  position: absolute;
  top: 15px;
  left: 205px;
}
.ex-step-3__copy-button {
  width: 50px;
  height: 19px;
  font-weight: 600;
  color: #4a44f2;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 5px;
}
.ex-step-3__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ex-step-3__timer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 305px;
  margin-top: 10px;
}
.ex-step-3__timer-descrip {
  color: #0e0a19;
  opacity: 0.7;
  display: block;
}
.ex-step-3__timer-counter {
  color: #0e0a19;
  font-weight: 500;
  display: block;
  width: 55px;
}
.ex-step-3__content-item-second {
  margin-left: 10px;
  color: #0e0a19;
  position: relative;
}

.ex-step-3__copyied-plate {
  width: 98px;
  height: 40px;
  padding-top: 10px;
  color: #ffffff;
  position: absolute;
  top: -50px;
  left: -20px;
  text-align: center;
  background: #4a44f2;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
  transition-duration: 1s;
}
.ex-step-3__copyied-plate.active {
  opacity: 1;
}
.ex-step-3__copyied-plate::after {
  content: "";
  position: absolute;
  left: 38px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #4a44f2;
  pointer-events: none;
  opacity: 0;
  transition-duration: 1s;
}
.ex-step-3__copyied-plate.active::after {
  opacity: 1;
}

.not-changet {
  background-color: #d1e3ff;
  pointer-events: none;
}
@media (max-width: 700px) {
  .exchange-form,
  .header__exchanger {
    padding-top: 0px;
  }
  .exchanger__tab {
    font-size: 13px;
  }
  .ex-step-1__change-block,
  .ex-step-2__sell,
  .ex-step-2__buy,
  .ex-step-3__sell,
  .form-3__buy {
    font-size: 14px;
	}
	/* !!!! больше нет такого класса, медиа делать по exchanger__button*/
  /* .exchanger__button_form {
    font-size: 13px;
  } */
}
@media (max-width: 480px) {
  .exchanger__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .exchange-form,
  .header__exchanger {
    width: 100%;
	}
/* !!!! больше нет такого класса, медиа делать по exchanger__button*/
  /* .exchanger__button_form {
    width: 280px;
  } */
  .ex-step-2__input,
  .ex-step-2__select {
    width: 280px;
  }
}
