.content__section_sec1 {
  height: 640px;
  display: none;
  background: url(../img/bg-header-coin3.png) no-repeat;
  background-position: 108% -50%;
  position: relative;
}

.content__section_sec1 .content__descrip {
  width: 100%;
  height: 70px;
  margin-top: 42px;
  margin-bottom: 80px;
  padding-top: 16px;
}

.content__descrip > h3 {
  margin: 0;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: 37px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #0e0a19;
}

.content__descrip > h3:last-of-type {
  color: #0e0a19;
}

.content__steps-block-img-contanier {
  width: 74px;
  height: 74px;
}

.content__steps-block-img {
  width: 100%;
  height: 100%;
}

.content__steps-block-item > p {
  margin: 20px 0 0 0;
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.content-section__header_pb-70 {
  padding-bottom: 70px;
}

.content-seection__header_shadow {
  position: relative;
}

.content-seection__header_shadow::after {
  font-family: Work Sans;
  content: attr(data-descr);
  position: absolute;
  top: -60px;
  left: -61%;
  font-size: 85px;
  letter-spacing: 0.05em;
  opacity: 0.25;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(118, 197, 154, 0.548)),
    to(rgba(118, 197, 154, 0.356))
  );
  background: linear-gradient(
    0deg,
    rgba(118, 197, 154, 0.548),
    rgba(118, 197, 154, 0.356)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

.content-section-exchange__link {
  font-size: 16px;
  font-weight: 500;
  width: 305px;
  padding: 11px 106px;
  letter-spacing: 0.05em;
  color: #fbfbfb;
  background: #4a44f2;
  box-shadow: 0px 20px 15px -15px rgba(74, 68, 242, 0.3);
  transition-duration: 0.5s;
  border-radius: 3px;
  margin: 0 20px;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  position: relative;
}
.content-section-exchange__link:hover {
  box-shadow: 0px 20px 15px -15px rgba(74, 68, 242, 0.8);
  transition-duration: 0.5s;
  color: #4a44f2;
}
.content-section-exchange__link::after {
  content: "CONTINUE";
  position: absolute;
  right: 105px;
  transition-duration: 0.5s;
  color: transparent;
}
.content-section-exchange__link:hover::after {
  content: "CONTINUE";
  position: absolute;
  right: 105px;
  color: #fbfbfb;
  transition-duration: 0.5s;
}

#loader {
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-block__color {
  color: #0e0a19;
}

.text-block_dinamic {
  color: #4a44f2;
}

.elem-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  border-radius: 8px;
}

.error-block,
.paid-block {
  position: relative;
  width: 300px;
  background-color: #fff;
  padding: 30px 50px;
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.error-block__img,
.paid-block__img {
  margin-bottom: 30px;
}
.error__text,
.paid__text {
  color: #000;
  font-size: 20px;
}
.paid-block-btn {
  margin-top: 20px;
}
.paid-block-btn__true {
  padding: 5px 30px;
  margin-right: 20px;
  cursor: pointer;
}
.paid-block-btn__false {
  padding: 5px 20px;
  cursor: pointer;
}
.error__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.error__btn_pending {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.error__btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
@media (max-width: 700px) {
  .content-seection__header_shadow::after {
    font-family: Exo;
    content: attr(data-descr);
    position: absolute;
    top: -60px;
    left: -61%;
    font-size: 85px;
    letter-spacing: 0.05em;
    opacity: 0.25;
    filter: blur(2px);
    background: linear-gradient(
      0deg,
      rgba(118, 197, 154, 0.548),
      rgba(118, 197, 154, 0.356)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
  }
  .content-section__header {
    font-size: 20px;
    text-align: center;
  }
  .content-section-block__header {
    font-size: 20px;
  }
  .content-section-block__text {
    font-size: 15px;
  }
  .content-section-exchange__link {
    font-size: 13px;
    margin: 0;
    width: 100%;
  }
}
