@media (max-width:1250px) {
    .header {
        height: 100%;
        background-size: auto;
        background-position: -25% 46%, 106% 1%, 108% 84%;
    }
    .content__section_sec1 {
        background-position: 108% -32%;
    }
    .header__wraper {
        width: 600px;
        align-items: center;
    }
    .navigation__language {
        display: none;
    }
    .navigation__link-block .link-block__item {
        margin-right: 20px;
    }
    .header__content {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }
    .header__descrip {
        height: 100%;
        margin-bottom: 30px;
        width: 100%;
        margin-right: 0px;
    }
    .content__section_sec1 {
        height: 100%;
        padding-bottom: 60px;
    }
    .content__wraper {
        width: 600px;
    }
    .content__section_sec1 .content__descrip {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .content__steps-block {
        flex-flow: row wrap;
    }
    .content__steps-block-item {
        margin-bottom: 40px;
    }
    .content__wraper_center {
        padding-top: 60px;
    }
    .content__section_sec2 {
        background-size: cover;
    }
    .content-section-block {
        flex-wrap: wrap;
        width: 600px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }
    .content-section-block-item {
        margin-bottom: 40px;
    }
    .content-section-exchange {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 40px;
    }
    .content-section-exchange__text {
        margin: 20px 0;
    }
    .footer {
        height: auto;
    }
    .footer__list {
        flex-direction: column;
        justify-content: center;
        flex-flow: column wrap;
        width: 600px;
        align-items: center;
    }
    .footer__wraper {
        justify-content: center;
        align-items: center;
    }
    .footer__list-item>span {
        text-align: center;
    }
    .footer__list-item:nth-of-type(3) {

        margin-top: 50px;
    }
    .content-section-exchange__link {
        margin: 0px;
    }
}
@media (max-width:1000px) {
.header {
    background: none;
}
.content__wraper_center {
    padding-top: 30px;
}
.content-section__header {
    padding-bottom: 60px;
}
.footer__wraper {
    padding: 20px 0 30px 0;
}
}
@media (max-width:700px) {
    .header__wraper {
        width: 305px;
        align-items: center;
    }
    .content__wraper {
        width: 300px;
    }
    .content-section-block {
        flex-wrap: wrap;
        width: 300px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }
    .footer__list {
        flex-direction: column;
        justify-content: center;
        flex-flow: column wrap;
        width: 300px;
        align-items: center;
    }
    .navigation__link-block{
        flex-flow: column nowrap;
    }
    .content-seection__header_shadow::after {
        font-family: Exo;
        content: attr(data-descr);
        position: absolute;
        top: -60px;
        left: -61%;
        font-size: 85px;
        letter-spacing: 0.05em;
        opacity: 0.25;
        filter: blur(2px);
        background: linear-gradient(0deg, rgba(118, 197, 154, 0.548) , rgba(118, 197, 154, 0.356));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
    }
    .content__steps-block{
        padding:0;
        justify-content: center;
    }
    .content-section-exchange__text {
        font-size: 30px;
    }
    .footer__link-block{
        align-items: center;
    }
    .navigation__link-block {
        font-size: 13px;
    }
    .exchanger__tab {
        font-size: 13px;
    }
    .ex-step-1__change-block, .ex-step-2__sell, .ex-step-2__buy, .ex-step-3__sell, .form-3__buy {
        font-size: 14px;
    }
    .exchanger__button_form {
        font-size: 13px;
    }
    .header__descrip>h3 {
        font-size: 20px;
    }
    .header__protection-block>span {
        font-size: 15px;
    }
    .content-section__header {
        font-size: 20px;
    }
    .content-section-block__header {
        font-size: 20px;
    }
    .content-section-block__text {
        font-size: 15px;
    }
    .content-section-exchange__link {
        font-size: 13px;
    }
    .footer__link-block {
        font-size: 15px;
    }
    .footer__list-item>span {
        font-size: 12px;
    }
    .footer__descrip {
        font-size: 12px;
    }
}
@media (max-width:480px) {
    .header__descrip {

        padding-left: 10px;
    }
    .navigation__link-block {
        font-size: 12px;
    }
    .header__descrip>h3:last-of-type {
        margin-bottom: 10px;
    }
    .exchanger__content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__descrip>h3 {
        font-size: 16px;
    }
    .header__protection-block>span {
        font-size: 13px;
    }
    .content-section__header {
        font-size: 16px;
        padding-bottom: 30px;
    }
    .content__wraper_center {
        padding-top: 0px;
    }
    .content-section-block__header {
        font-size: 16px;
    }
    .content-section-block__text {
        font-size: 12px;
    }
    .content-section-exchange__text {
        font-size: 20px;
    }
    .exchange-form, .header__exchanger {
        width: 100%;
    }
    .exchanger__button_form {
        width: 280px;
    }
    .ex-step-2__input, .ex-step-2__select {
        width: 280px;
    }
    .content-section-exchange__link {
        width: 280px;
    }
}