.navigation {
  width: 100%;
  height: 100%;
}
.navigation__wraper {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.navigation__logo-block {
  width: 72px;
  height: 59px;
  text-align: center;
}
.navigation__activity {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.navigation__link-block {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Work Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: rgba(14, 10, 25, 0.5);
}

.link-block__item {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  transition-duration: 0.1s;
}
/* !!!! Добавлена кнопка login*/
.navigation__login-button{
	display: block;
	text-transform: uppercase;
  font-family: Work Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
	color: rgba(14, 10, 25, 0.5);
	cursor: pointer;
}
.navigation__login-button:hover{
	color: rgba(14, 10, 25, 1);
	font-weight: 500;
}
.navigation__language {
  text-transform: uppercase;
  font-family: Work Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #0e0a19;
}
.navigation__link-block .link-block__item {
  margin-right: 34px;
}

.navigation__link-block .link-block__item:last-of-type {
  margin-right: none;
}
@media (max-width: 1250px) {
	.navigation__link-block {
    font-size: 15px;
  }
  .navigation__language {
    display: none;
  }
  .navigation__link-block .link-block__item {
    margin-right: 20px;
  }
}
@media (max-width: 702px) {
  .navigation {
    flex-flow: column;
	}
	.navigation__logo-block{
		width: 60px;
    height: 49px;
	}
	.navigation__logo-block .logo-img{
		width: 100%;
		height: 100%;
	}
  .navigation__link-block {
    font-size: 14px;
    text-align: center;
  }
  .navigation__wraper {
    flex-flow: column;
	}
}
@media (max-width: 600px) {
	.navigation__link-block {
    font-size: 12px;
  }
  .navigation__activity {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
	.navigation__activity {
    flex-direction: column-reverse;
  }
	.navigation__link-block {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
  }
  .navigation__link-block .link-block__item {
    margin-right: 0;
  }
}
