/* @font-face {
  font-family: "Gilroy Thin";
  src: url(../font/glory/Gilroy-Thin.eot);
  src: url(../font/glory/Gilroy-Thin.eot?#iefix) format("embedded-opentype"),
    url(../font/glory/Gilroy-Thin.woff) format("woff"),
    url(../font/glory/Gilroy-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
} */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.wraper {
  max-width: 1200px;
  margin: 0 auto;
}
.d-none {
  display: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

.text__error {
  color: #b22222;
  border: 2px solid #b22222;
}
.z-index_2 {
  z-index: 2;
}
.logo-img {
  width: 100%;
  height: 100%;
}
.text-block {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;
}
.link-block {
  height: 100%;
}
.link-block__item:hover {
  color: #0e0a19;
  font-weight: 500;
  transition-duration: 0.5s;
}
.content {
  width: 100%;
}

.content__section {
  width: 100%;
}

.content__wraper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.content-section__img-bg {
  width: 100%;
  display: none;
}

.content-section-block-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.content__steps-block {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}
.content__steps-block-item {
  width: 258px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  font-family: Work Sans;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: rgba(14, 10, 25, 0.8);
}
.content__section_sec2 {
  background-position-x: start;
}

.content__wraper_center {
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.content-section__header {
  font-family: Work Sans;
  font-size: 37px;
  padding-bottom: 160px;
  width: 100%;
  line-height: 140%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #0e0a19;
  font-weight: bold;
  position: relative;
}

.text-color_header {
  color: #0e0a19;
}
.content-section-block {
  width: 1128px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-bottom: 115px;
}

.content-section-block-item {
  width: 336px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.content-section-block__header {
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 25px 0;
  color: #0e0a19;
  line-height: 140%;
}

.content-section-block__text {
  font-family: Work Sans;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(14, 10, 25, 0.8);
}

.content-section-exchange {
  width: 100%;
  justify-content: center;
  padding-bottom: 120px;
  font-family: Work Sans;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  align-self: center;
}

.content-section-exchange__text {
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #4a44f2;
}
@media (max-width: 1250px) {
  .content__section_sec1 {
    background-position: 108% -32%;
  }
  .content__section_sec1 {
    height: 100%;
    padding-bottom: 60px;
  }
  .content__wraper {
    width: 600px;
  }
  .content__section_sec1 .content__descrip {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .content__steps-block {
    flex-flow: row wrap;
  }
  .content__steps-block-item {
    margin-bottom: 40px;
  }
  .content__wraper_center {
    padding-top: 60px;
  }
  .content__section_sec2 {
    background-size: cover;
  }
  .content-section-block {
    flex-wrap: wrap;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .content-section-block-item {
    margin-bottom: 40px;
  }
  .content-section-exchange {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
  }
  .content-section-exchange__text {
    margin: 20px 0;
  }
  .content-section-exchange__link {
    margin: 0px;
  }
  .link-block {
    height: 100%;
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .content__wraper_center {
    padding-top: 30px;
  }
  .content-section__header {
    padding-bottom: 60px;
  }
}
@media (max-width: 700px) {
  .content__wraper {
    width: 300px;
  }
  .logo-img {
    width: 70%;
    height: auto;
  }
  .content__wraper_center {
    padding-top: 0px;
  }
  .content-section-exchange {
    padding-bottom: 0px;
  }
  .content-section-block {
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .content__steps-block {
    padding: 0;
    justify-content: center;
  }
  .content-section-exchange__text {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .content-section__header {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .content__wraper_center {
    padding-top: 0px;
  }
  .content-section-block__header {
    font-size: 16px;
  }
  .content-section-block__text {
    font-size: 12px;
  }
  .content-section-exchange__text {
    font-size: 20px;
  }
  .content-section-exchange__link {
    width: 280px;
  }
}
